<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="<div class="d-flex">
        <div class="d-flex align-self-start">
            <img src="#" alt="" width="300" />
        </div>
        <div class="flex-grow-1 ms-3">
            <h5 class="mt-0">Media heading</h5>
            <p>
                This is some content from a media component. You can replace
                this with any content and adjust it as needed.
            </p>
        </div>
    </div>
    "></section>
</body>
</html>