<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="container d-flex flex-row align-items-center mt-2">
        <h2 class="m-2">B-Productive</h2>
        <div>
            <a href="/app" class="text-body-secondary text-decoration-none">Todas as listas</a>
            <a href="/app/nova-lista" class="text-body-secondary text-decoration-none">Nova Lista</a>
        </div>
    </header>
</body>
</html>